.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
demo/outputs
venv/
model_inputs_raw/*
baci_raw/*
model_inputs_baci/*
model_inputs/*
outputs/*
*.zip
model_inputs_sau/*
AM_local/*
grateful-report.html
