.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
demo/outputs
venv/
baci_raw/*
model_inputs*
outputs/*
*.zip
AM_local/*
grateful-report.html
.env
.env.swp
man/*
dev/*
renv/*
qa/*
archive/*
requirements_old_local.txt
*.html
*.pdf
*.bib
/.quarto/
README_files/*
